<div class="container">
    <div style="width: 70%; float: left;">
    <div class="card" style="height: 200px;">
        <div class="card-body">
            <div class="row">
            
            <div class='col-md-6'>
                <div class="row">
                    <div class="col-md-6">
                        <span>Component Quantity</span>
                        <br><br>
                        <span>RPN risk</span>
                        <br><br>
                        <span>Indications</span>
                    </div>
                    <div class="col-md-6">
                        <label>Oil, Hydraulic 46,500 gallons</label>
                        <br>
                        <label>Medium</label>
                        <br>
                        <label>Low level</label>
                    </div>
                </div>
            </div>
        
            <div class='col-md-3'>
                <h6>Current Task Addresses</h6>
                <div class="row custom-control custom-radio"> 
                    <input type="radio" id="rad-contaminated" class="custom-control-input" checked=""/>
                    <label class="custom-control-label" for="rad-contaminated">Contaminated</label>
                    </div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"> <input type="radio">&nbsp;&nbsp;Low Viscocity</div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"> <input type="radio" >&nbsp;&nbsp;Diminished Additives</div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"> <input type="radio">&nbsp;&nbsp;Hot</div>
                <div class="row"> <input type="radio">&nbsp;&nbsp;Low level</div>
                    
            </div>
            <div class='col-md-3'>
                 <img class="img-responsive" src="assets/Data/diesel-engine.jpg"  alt="Engine Image" height="110%" width="110%"/>   
            </div>     
            </div>
        </div>
      </div>
    <div class="card" style="height: 700px;">

            <div class="card-body">
                    <div class="row">
                            <div class="col-md-4">
                                    
                            </div>
                            <div class="col-md-4" style="color: grey; font-size: small;">
                                
                                <span>Legacy Task Attributes</span>
                            </div>
                            <div class="col-md-4 form-group" style="color: grey; font-size: x-small;">
                                <span style="float: left;">Optimized Task Attributes</span> 
                                <span style="float: right;">Task Wizard</span>    
                            </div>
                        </div>
                <div class="row">
                    <div class="col-md-4 border-right">
                            <span>Approach</span>
                    </div>
                    <div class="col-md-4">
                        
                        <label>Part Replacement</label>
                    </div>
                    <div class="col-md-4 form-group">
                        <select class="custom-select" disabled="" style="color: #0069D9">
                            <option>FA Fluid Analysis</option>
                        </select>        
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-4 border-right ">
                            <span>Primary Task</span>
                            
                    </div>
                    <div class="col-md-4">
                        <label>Change the oil in the hydraulic</label>
                    </div>
                    <div class="col-md-4 form-group">
                           <textarea class="form-control" style="color: #0069D9" value="Sample the oil in hydrolic tank"></textarea>
                    </div>
                </div>
                
                <div class="row">
                        <div class="col-md-4 border-right">
                            <span>Instructions</span>  
                        </div>
                        <div class="col-md-4">
                                <label>Drain and dispose the oil</label>
                        </div>
                        <div class="col-md-4 form-group">
                               <input type="textbox" class="form-control" style="color: #0069D9" value="Connect sample gun to port"/><br/>
                               <input type="textbox" class="form-control" style="color: #0069D9" value="Collect 4 fluid ounces"/>
                        </div>
                       
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4 border-right">
                                <span>Craft</span>  
                        </div>
                        <div class="col-md-4">
                                <label>Maintenance</label>
                        </div>
                        <div class="col-md-4 form-group">
                            <select class="custom-select" style="color: #0069D9" disabled="">
                                <option>Pdm Technician</option>
                            </select>        
                        </div>
                       
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4 border-right">
                            <span>Craft Count</span>  
                        </div>
                        <div class="col-md-4">
                            <label>2</label>
                        </div>
                        <div class="col-md-4 form-group">
                            <input type="textbox" style="color: #0069D9" class="form-control" value="1"/>   
                        </div>
                       
                    </div>
                    
                    <div class="row">
                            <div class="col-md-4 border-right">
                                <span>Task Minutes</span>  
                            </div>
                            <div class="col-md-4 form-group">
                                    <input type="textbox" style="color: #0069D9" class="form-control" value="240"/>
                            </div>
                            <div class="col-md-4 form-group">
                                <input type="textbox" style="color: #0069D9" class="form-control" value="15"/>   
                            </div>
                           
                        </div>
                        
                        <div class="row">
                            <div class="col-md-4 border-right">
                                <span>Freq Days</span>  
                            </div>
                            <div class="col-md-4">
                                <label>180</label>
                            </div>
                            <div class="col-md-4 form-group">
                                    <select class="custom-select" style="color: #0069D9" disabled="">
                                        <option>30</option>
                                    </select>        
                                </div>
                        </div>
                        
                        <div class="row">
                                <div class="col-md-4 border-right">
                                    <span>Equip State</span>  
                                </div>
                                <div class="col-md-4">
                                    <label>Down</label>
                                </div>
                                <div class="col-md-4 form-group">
                                        <select class="custom-select" style="color: #0069D9" disabled="">
                                            <option>Running</option>
                                        </select>        
                                </div>
                        </div>
                       
                        <div class="row">
                                <div class="col-md-4 border-right">
                                    
                                </div>
                                
                                <div class="col-md-4 form-group">
                                        <select class="custom-select" style="color: #0069D9" disabled="">
                                            <option>Redundent Tasking</option>
                                        </select>        
                                </div>
                                <div class="col-md-4 form-group">
                                    <input type="button" value="Cancel" class="btn btn-secondary" disabled=""/>&nbsp;&nbsp;
                                    <input type="button" value="Back" class="btn btn-info" />&nbsp;&nbsp;
                                    <input type="button" value="Submit" class="btn btn-success"/>
                                    
                                </div>
                        </div>
                </div>
            </div>
      </div>

    <div style="width: 30%; float: right;">
      <div class="card" style="height: 900px;">
            <div class="card-body">
              This is some text within a card body.
            </div>
        </div>
    </div>
    </div>
      
      
    